<!DOCTYPE html>
<html lang="en">
{# {% include 'includes/head.html.twig' %} #}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="default-padding">
	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
</body>
</html>